h1{
	background-color: antiquewhite;
	font-size: 50px;

}


ul{
	display: block;
	list-style-type: none;
	gap:20px;
	padding: 30px 20px;
	background-color: antiquewhite;
	.swiper-pargination-bullet-active{
		background-color: aqua;
	
	}
	
	swipwer .swipwer-button-prev, .swiper .swiper-button-next{
		color:#fff;
	
	  }
	
	
	.swiper {
	  width: 800px;
	  height: 400px;
	}
	.swiper img{
	  width: 800px;
	  height: 400px;
	}
	
	.imgcontainer {
	  text-align: center;
	  margin: 24px 0 12px 0;
	}
	
	img.avatar {
	  width: 40%;
	  border-radius: 50%;
	}
	
	.container {
	  padding: 16px;
	}
	
	span.psw {
		float: right;
		padding-top: 16px;
	  }
	
}
li{
	float: left;
	border-right: 1px solid Black; 
}
li a{
	padding: 10px 10px;
	color: Black;
	text-decoration: none;

}
body{
	background-color: rgb(247, 247, 247) ;
	

}

